.profile-container {
  display: flex;
  justify-content: center;
}

.example-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
}

.full-width {
  width: 1500px;
}
