<form [formGroup]='profilForm'>
  <mat-form-field class="profile-container" appearance="fill">
    <mat-label>Pseudo</mat-label>
    <label>
      <input matInput formControlName='pseudo'>
    </label>
    <mat-icon matSuffix>edit</mat-icon>
  </mat-form-field>
  <br>
  <mat-form-field class="profile-container" appearance="fill">
    <mat-label>Home Address</mat-label>
    <label>
      <input matInput formControlName='homeAdd'>
    </label>
    <mat-icon matSuffix>home</mat-icon>
  </mat-form-field>
  <br>
  <mat-form-field class="profile-container" appearance="fill">
    <mat-label>Work Address</mat-label>
    <label>
      <input matInput formControlName='workAdd'>
    </label>
    <mat-icon matSuffix>work</mat-icon>
  </mat-form-field>
  <br>
  <mat-form-field class="profile-container" appearance="fill">
    <mat-label>Favorite conveyance</mat-label>
    <mat-select [formControlName]="'favCov'">
      <mat-option [value]="'Voiture'">Voiture</mat-option>
      <mat-option [value]="'Pieton'">Piéton</mat-option>
      <mat-option [value]="'TEC'">Transports en communs</mat-option>
      <mat-option [value]="'Velo'">Vélo</mat-option>
    </mat-select>
    <mat-icon matSuffix>directions_run</mat-icon>
  </mat-form-field>
  <br>
  <div class="profile-container">
    <button (click)="validateProfil()" [disabled]="!valid()" mat-stroked-button color="primary">Update Profile
    </button>
  </div>
</form>
