<div>
  <mat-list *ngFor="let travel of travels">
    <mat-card><mat-card-title>From :  {{travel.start}} | To :  {{travel.destination}}</mat-card-title><br/>
     <mat-card-content> Started at : {{ travel.startDateRepresentation }} by {{ travel.typeRepresentation }}, ended at : {{ travel.arrivalDateRepresentation }} | Duration : {{travel.duration | date:'HH:mm:ss'}}
     </mat-card-content></mat-card>
  </mat-list>
</div>
