.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 50%;
  margin: 0 auto;
}

.example-button-row button {
  margin-bottom: 12px;
}

.tips-display {
  text-align: center;
  width: 30%;
  margin: 0 auto 12px;
}

mat-icon{
  color: #474747;
}

.center{
  display: flex;
  justify-content: center;
}

.full-width {
  width: 1500px;
}
