<mat-card class="tips-display">
  <mat-card-title style="font-style: italic; font-size: 1em">
    "Tous les chemins mènent à Rome."
  </mat-card-title>
  <mat-card-subtitle>
    Alain de Lille
  </mat-card-subtitle>
</mat-card>

<div class="example-container">
  <div class="example-button-row">
    <button (click)="fillWithProfile()" color="primary" mat-raised-button>Fill with my profile</button>
  </div>

  <form [formGroup]='locationForm'>
    <div class="center">
      <mat-form-field class="full-width">
        <label>
          <input matInput placeholder="From" [matAutocomplete]="autoFrom" formControlName='fromInput'>
        </label>
        <mat-icon matSuffix>house</mat-icon>
      </mat-form-field>
      <mat-autocomplete #autoFrom="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let locationFrom of (locationsFromIQ | async)" [value]="locationFrom">
          <span>{{ locationFrom }}</span>
        </mat-option>
      </mat-autocomplete>
    </div>
    <div class="center">
      <mat-form-field class="full-width">
        <label>
          <input matInput placeholder="To" [matAutocomplete]="autoTo" formControlName='toInput'>
        </label>
        <mat-icon matSuffix>work</mat-icon>
      </mat-form-field>
      <mat-autocomplete #autoTo="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let locationTo of (locationsToIQ | async)" [value]="locationTo">
          <span>{{ locationTo }}</span>
        </mat-option>
      </mat-autocomplete>
    </div>
    <mat-card-actions align="center">
      <button mat-raised-button color="primary" (click)="validateJourney()" [disabled]="!valid()">Validate</button>
    </mat-card-actions>
  </form>
</div>
