.navbar {
  justify-content:  space-between;
  margin-bottom: 10px;
  background-color: #474747;
}

.title {
  font-size: 1.75em;
  font-family: 'lobster', serif;
}

.buttonNav {
  padding-right: 1rem;
}

.account_icon {
  transform: scale(1.75);
}
