<mat-toolbar color="primary" class="navbar">
  <button class="title" mat-button routerLink="/">
    Lastar<span style="color: #8345e0; vertical-align: bottom;">bis</span>
  </button>
  <div>
    <button routerLink="" *hasAnyAuthority="['user','admin']" mat-button class="buttonNav">Generate
      Travel
    </button>
    <button routerLink="/travels" *hasAnyAuthority="['user','admin']" mat-button class="buttonNav">My Travels</button>

    <button mat-icon-button>
      <mat-icon class="account_icon" [matMenuTriggerFor]="menu">account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button *ngIf="!logged" (click)="login()" mat-menu-item>Sign in</button>
      <button *hasAnyAuthority="['user','admin']" (click)="getToMyProfile()" mat-menu-item>My profile</button>
      <button *hasAnyAuthority="['user','admin']" (click)="logout()" mat-menu-item>Sign out</button>
    </mat-menu>
  </div>
</mat-toolbar>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
