<button (click)="toggleElement()" mat-raised-button color="primary">
  <mat-icon>{{ iconName }}</mat-icon>
  {{result()}}{{this.element.duration | date:'HH:mm:ss'}} seconds
</button>
<div [hidden]="isVisible">
  <mat-list *ngFor="let step of (element.route)">
    <mat-list-item>Step [{{element.route.indexOf(step)}}] : {{ step.name }} - {{ step.distance }}</mat-list-item>
  </mat-list>
</div>
