<div class="example-container">
  <div class="example-row">
    <circle-progress [startFromZero]="false" [percent]=percentage [subtitle]='percentageValue()'></circle-progress>
  </div>
  <div class="example-row">
    <p>Résultats :</p>
  </div>
  <div *ngIf="voitureRoute!=null" class="example-row">
    <app-cardelement iconName="directions_car" [element]="voitureRoute"></app-cardelement>
  </div>
  <div *ngIf="tecRoute!=null" class="example-row">
    <app-cardelement iconName="directions_bus" [element]="tecRoute"></app-cardelement>
  </div>
  <div *ngIf="veloRoute!=null" class="example-row">
    <app-cardelement iconName="directions_bike" [element]="veloRoute"></app-cardelement>
  </div>
  <div *ngIf="pietonRoute!=null" class="example-row">
    <app-cardelement iconName="directions_walk" [element]="pietonRoute"></app-cardelement>
  </div>
</div>
