.center {
  display: flex;
  justify-content: center;
}

.paddingelem {
  margin: 10px;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 50%;
  margin: 0 auto;
}

.example-row {
  margin: 10px;
}
