<!--suppress AngularInvalidExpressionResultType -->
<mat-horizontal-stepper *ngIf="logged" labelPosition="bottom" [linear]="true" #stepper>

  <mat-step [stepControl]="pseudoFormGroup">
    <form [formGroup]="pseudoFormGroup">
      <ng-template matStepLabel>Pseudo</ng-template>
      <mat-form-field>
        <label>
          <input matInput placeholder="Pseudo" formControlName="pseudo" required>
        </label>
        <mat-icon matSuffix>edit</mat-icon>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="homeAddressFormGroup">
    <form [formGroup]="homeAddressFormGroup">
      <ng-template matStepLabel>Home address</ng-template>
      <mat-form-field>
        <label>
          <input matInput placeholder="Home address" formControlName="homeAddress" required>
        </label>
        <mat-icon matSuffix>home</mat-icon>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="workAddressFormGroup">
    <form [formGroup]="workAddressFormGroup">
      <ng-template matStepLabel>Work address</ng-template>
      <mat-form-field>
        <label>
          <input matInput placeholder="Work address" formControlName="workAddress" required>
        </label>
        <mat-icon matSuffix>work</mat-icon>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="conveyanceFormGroup">
    <form [formGroup]="conveyanceFormGroup">
      <ng-template matStepLabel>Favorite conveyance</ng-template>
      <mat-form-field class="profile-container">
        <mat-label>Favorite conveyance</mat-label>
        <mat-select formControlName="conveyance" required>
          <mat-option [value]="'Voiture'">Voiture</mat-option>
          <mat-option [value]="'Pieton'">Piéton</mat-option>
          <mat-option [value]="'TEC'">Transports en communs</mat-option>
          <mat-option [value]="'Velo'">Vélo</mat-option>
        </mat-select>
        <mat-icon matSuffix>directions_run</mat-icon>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You're done ! Now you can generate travels
    <div>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button routerLink="" (click)="setUserInfo()">Generate Travels</button>
    </div>
  </mat-step>

</mat-horizontal-stepper>
