<app-navbar></app-navbar>

<router-outlet></router-outlet>

<br>
<br>
<footer class="page-footer font-small bg-light fixed-bottom">
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://gitlab.com/NicolasHubs/taa_project">L'équipe de choc</a>
  </div>
</footer>
